<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeker Dashboard</title>
    <link rel="stylesheet" href="/css/seekerdashboard.css">
</head>
<body>
    <h1>Job Seekers</h1>
    <button><a href="/api/seekers/show">Applicants</a></button>
    <br><br>
    <br><br>
    <div class="dashboard-container">
        <% jobListings.forEach(listing => { %>
            <div class="job-card">
            <h3><%= listing.providerName %></h3>
            <p><strong>Job:</strong> <%= listing.title %></p> <!-- Display provider's name -->
            <p><strong>Description:</strong> <%= listing.description %></p>
            <p><strong>Location:</strong> <%= listing.location %></p>
            <p><strong>Requirements:</strong> <%= listing.requirements.join(', ') %></p>
            <p><strong>Salary:</strong> <%= listing.salary %></p>

                <!-- Apply Button Form -->
                <form method="GET" action="/api/seekers/<%= listing._id%>/applynew">
                    <!-- Hidden providerId to be submitted with the form -->
                    <input type="hidden" name="providerId" value="<%= listing.providerId %>">

                    <button type="submit">Apply</button>
                </form>
                
                
            </div>
        <% }) %>

        
    </div>
    
</body>
</html>